
table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: bold;
    background-color: #ffffff;
    color: #000000;
}
td {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #000;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(70, 42, 29);
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(70, 42, 29);
}
tr:last-child td:nth-child(odd),
tr:first-child td:nth-child(even){
    background-color: rgb(172, 150, 140);
}
tr:nth-child(even) td:first-child{
    background-color: rgb(172, 150, 140);
}
tr:nth-child(odd) td:last-child{
    background-color: rgb(172, 150, 140);
}
td.rotate{
     transform: rotate(180deg);
}